h1 {
    background-color: red;
    color: white;
}

h2 {
    background-color: blueviolet;
    color: aqua;
}

h3 {
    background-color: bisque;
    color: olivedrab;
}

h4 {
    background-color: orange;
    color: orangered;
}

h5 {
    background-color: brown;
    color: gold;
}

h6 {
    background-color: greenyellow;
    color: green;
}

.text-1 {
    background-color: rebeccapurple;
    color: grey;
}

.text-2 {
    background-color: khaki;
    color: yellow;
}

.text-3 {
    background-color: teal;
    color: thistle;
}

.networks {background-color:skyblue ;
    color: cadetblue;
}

.telegram {
    background-color: aqua;
    color: white;
}

.instagram {
    background-color: purple;
    color: white;
}

.youtube {
    background-color: red;
    color: white;
}

.tik-tok {
    background-color: black;
    color: white;
}

.whatsapp {
    background-color: lightgreen;
    color: white;
}

.twiter {
    background-color: aqua;
    color: white;
}

.facebook {
    background-color: blue;
    color: white;
}

.linkedin {
    background-color: blue;
    color: white;
}

.mbank {
    background-color: lightgreen;
    color: yellow;
}

.megacom {
    background-color: azure;
    color: grey;
}

.odengi {
    background-color: aliceblue;
    color: palevioletred;
}

.bakai {
    background-color: cornflowerblue;
    color: goldenrod;
}

.google {
    background-color: beige;
    color: blue;
}